/* **************** TEMPLATE ***************** */
/* ====== Page Head, Body, and Foot ====== */
body{_text-align:center;}/* IE5.5 */
.body,.main{*zoom:1;}
.body:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.page{margin:0 auto;width:950px;_text-align:left;} /* wraps other template elems to set width */ /* text-align IE5.5 */
/* "old school" and "liquid" extend page to allow for different page widths */
.oldSchool{width:750px;}
.gs960{width:960px;}
.liquid{width:auto;margin:0;}
/* ====== Columns ====== */
.leftCol{float:left;width:250px;_margin-right:-3px;display:none;}
.rightCol{float:right;width:300px;_margin-left:-3px;display:none;}
.hasLeftCol .leftCol{display:block;}
.hasRightCol .rightCol{display:block;}
.hasLeftCol .main{margin-left:251px;}
.hasRightCol .main{margin-right:301px;}
/* extend columns to allow for common column widths */
.gMail{width:160px;}
.gCal{width:180px;}
.yahoo{width:240px;}
.myYahoo{width:300px;}

