/* ====== media (requires mod.css) ====== */
.media{margin: 10px;display:block;zoom:1}
.media:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.media .bd{display:table-cell; _display:block;vertical-align:top;width:10000px;*width:auto;*zoom:1}
.media .bd > :first-child{margin-top:0;}
.media .bd > :last-child{margin-bottom:0;}
.media .img{float:left;/*margin-right: 10px;*/}
.media .img img{display:block;}
.media .imgExt{float:right; /*margin-left: 10px;*/}
